* {
  /* `otf-font-awesome` is required to be installed for icons */
  /* font-family: FontAwesome, Noto Sans Mono, Roboto, Helvetica, Arial, sans-serif; */
  font-family: Roboto Mono, Font Awesome, Noto Sans Mono;
  /* font-family: Noto Sans Mono; */
  font-size: 13px;
  color: white;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.75);
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-media,
#disk,
#keyboard-state,
#idle_inhibitor,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#temperature,
#tray {
  padding: 0 10px;
  color: #ffffff;
}

#battery.bat0 {
  padding: 0px;
}


#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* #clock { */
/*     background-color: #64727D; */
/* } */

/* #battery { */
/*     background-color: #e3e3e3; */
/*     color: #000000; */
/* } */

/* #battery.charging, */
/* #battery.plugged { */
/*   color: #ffffff; */
/*   /1* background-color: #26A65B; *1/ */
/* } */

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.warning {
  background-color: orange;
  color: black;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

/* #cpu { */
/*     background-color: #2ecc71; */
/*     color: #000000; */
/* } */

/* #memory { */
/*     background-color: #9b59b6; */
/* } */

/* #disk { */
/*     background-color: #964B00; */
/* } */

/* #backlight { */
/*     background-color: #90b1b1; */
/* } */

/* #network { */
/*     background-color: #2980b9; */
/* } */

#network.disconnected {
  background-color: #f53c3c;
}

/* #pulseaudio { */
/*     background-color: #f1c40f; */
/*     color: #000000; */
/* } */

/* #pulseaudio.muted { */
/*     background-color: #90b1b1; */
/*     color: #2a5c45; */
/* } */

/* #temperature { */
/*     background-color: #f0932b; */
/* } */

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  /* background-color: #2980b9; */
  /* background-color: #000000; */
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

/* #idle_inhibitor { */
/*   background-color: #2d3436; */
/* } */

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  padding: 0px;
  background-color: transparent;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  /* background: #00b093; */
  /* color: #740864; */
  /* padding: 0 5px; */
  /* margin: 0 5px; */
  min-width: 16px;
}

#keyboard-state {
  /* background: #97e1ad; */
  /* color: #000000; */
  /* padding: 0 0px; */
  /* margin: 0 5px; */
  min-width: 16px;
}

#keyboard-state > label.locked {
  background: red;
}

/* #battery.bat1, /1* only if two batteries. thinkpad *1/ */
#battery,
#language,
#pulseaudio,
#network,
#memory,
#temperature,
#clock,
#keyboard-state,
#backlight,
#idle_inhibitor,
#cpu,
#custom-pacman,
#custom-notification {
  padding-right: 12px;
  padding-left: 12px;
  border-right: 2px dotted grey;
}

#battery.bat1 {
  padding-left: 0px;
}


